.projects {
  background-color: var(--bg-dark);
  padding: 100px 0;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(300px, 1fr)
  ); /* Better responsiveness */
  gap: 15px;
  margin-top: 50px;
}

.project-card {
  background-color: var(--bg-light);
  padding: 2rem 1.75rem;
  border-radius: 8px;
  transition: transform 0.25s ease, box-shadow 0.25s ease;
  display: flex;
  flex-direction: column;
  height: 100%; /* Equal height cards */
  border: 1px solid transparent;
}

.project-card:hover {
  transform: translateY(-7px);
  border-color: var(--primary-color); /* Teal border on hover */
  box-shadow: 0 10px 30px -15px rgba(2, 12, 27, 0.7);
}

/*Top Icons (Folder & GitHub)*/
.card-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.folder-icon {
  color: var(--primary-color);
}

.project-links a {
  color: var(--text-light);
  margin-left: 10px;
  transition: color 0.2s;
}

.project-links a:hover {
  color: var(--primary-color);
}

/*Title & Desc*/
.project-title {
  color: var(--text-light);
  font-size: 1.4rem;
  font-weight: 700;
  margin-bottom: 10px;
}

.project-card:hover .project-title {
  color: var(--primary-color); /* Title turns teal on hover */
}

.project-desc {
  color: var(--text-dim);
  font-size: 1rem;
  line-height: 1.6;
  flex-grow: 1; /* Pushes the tech list to the bottom */
}

/*Tech List at Bottom*/
.project-tech-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin-top: 20px;
  gap: 15px;
}

.project-tech-list li {
  font-family: monospace;
  font-size: 0.85rem;
  color: var(--text-dim);
}

/* See More Button Container*/
.show-more-container {
  margin-top: 80px;
  display: flex;
  justify-content: center;
}
