.navbar {
  background-color: white;
  /*padding: 1rem 2rem;*/
  display: flex;
  justify-content: space-between;
  align-items: center;
  animation: fadeIn 1s ease-in; /* Added animation */
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.logo {
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin-left: 20px;
}

.nav-links a {
  color: #111111;
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #2b2b2f; /* Color change on hover for better visibility */
}
